<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

    <!-- Milligram CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

    <title>{% block title %}{% endblock %} - Flow</title>
    {% endblock %}
</head>

<body class="container">
    <div class="row">
        <div class="column">
            <h3>Flow</h3>
        </div>
        <div class="column column-offset-67"><a href="/">Home</a></div>
    </div>
    {% block content %}{% endblock %}
    <div class="row">
        <a href="https://github.com/StatesTitle/flow">Flow</a>
    </div>
</body>

</html>