{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container">
    <h3>{{ title }}</h3>
</div>
{{svg | safe}}
<script>
    window.addEventListener('load', function() {
        document.getElementById("graph").setAttribute('height', window.innerHeight - 150);
        svgPanZoom('#graph', {
            controlIconsEnabled: true,
            fit: false,
            minZoom: 0.1,
            maxZoom: 1,
            zoomScaleSensitivity: 0.5
        });
    });
</script>
{% endblock %}