{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container">
    <h3>{{ title }}</h3>
</div>
{{svg | safe}}
<div class="container">
    {% for group, affects in incoming.items() %}
    {% if loop.first %}
    <h3 class="row">Incoming Affects</h3>
    {% endif %}
    <h5 class="row"><a href="/groups/{{ group.id }}">{{ group.name}}</a></h4>
    <ul>
    {% for action, affect in affects %}
    <li>
        {{action.name}} <strong>{{affect.affect}}</strong> {{affect.affected_name}}
    </li>
    {% endfor %}
    </ul>
    {% endfor %}
    
    {% for group, affects in outgoing.items() %}
    {% if loop.first %}
    <h3 class="row">Outgoing Affects</h3>
    {% endif %}
    <h5 class="row"><a href="/groups/{{ group.id }}">{{ group.name}}</a></h4>
    <ul>
    {% for action, affect in affects %}
    <li>
        {{action.name}} <strong>{{affect.affect}}</strong> {{affect.affected_name}}
    </li>
    {% endfor %}
    </ul>
    {% endfor %}
</div>

<script>
    window.addEventListener('load', function() {
        document.getElementById("graph").setAttribute('height', window.innerHeight - 200);
        svgPanZoom('#graph', {
            controlIconsEnabled: true,
            fit: false,
            minZoom: 0.1,
            maxZoom: 1,
            zoomScaleSensitivity: 0.5
        });
    });
</script>
{% endblock %}